<div class="my-3">
  <h1 class="text-center">Dashboard</h1>
</div>

<div class="d-flex justify-content-center my-1">
  <button
    class="btn btn-outline-primary mx-1"
    type="button"
    (click)="toggleTemperatureVisibility()"
  >{{ isTemperatureVisible ? 'Hide' : 'Show'}} local temperature</button>
  <button
    class="btn btn-outline-primary mx-1"
    type="button"
    (click)="toggleCreatePasswordVisibility()"
  >{{ isCreatePasswordVisible ? 'Hide' : 'Show'}} password generator</button>
</div>

<div class="row my-1">
  <div class="col-sm-4 m-1" *ngIf="isTemperatureVisible">
    <app-local-weather></app-local-weather>
  </div>
  <div class="col-sm-4 m-1" *ngIf="isCreatePasswordVisible">
    <app-random-password></app-random-password>
  </div>
</div>

