<div class="card">
  <h5 class="card-header text-center">Password Generator</h5>
  <div class="card-body">
    <ng-container *ngIf="!randomPassword">
      <form [formGroup]="passwordForm">
        <div class="form-check">
          <input id="capitalLettersCheckbox" type="checkbox" class="form-check-input" formControlName="useCapitalLetters">
          <label for="capitalLettersCheckbox" class="form-check-label">Use Capital Letters</label>
        </div>
        <div class="form-check">
          <input id="symbolsCheckbox" type="checkbox" class="form-check-input" formControlName="useSymbols">
          <label for="symbolsCheckbox" class="form-check-label">Use Symbols</label>
        </div>
      </form>
      <div class="text-center">
        <button class="btn btn-primary" (click)="generatePassword()">
          Create password
        </button>
      </div>
    </ng-container>
    <div class="text-center" *ngIf="!!randomPassword">
      <span class="card-text">Your new password is:</span>
      <ng-container *ngIf="showProgressBar">
        <app-progress-bar (onCompleted)="onProgressCompleted($event)"></app-progress-bar>
      </ng-container>
      <ng-container *ngIf="!showProgressBar">
        <h5 class="card-title mt-2 mb-3">{{ randomPassword }}</h5>
        <button class="btn btn-primary" (click)="copyPasswordToClipboard()">
          Copy to clipboard
          <i class="fa fa-copy" aria-hidden="true" ></i>
        </button>
      </ng-container>
    </div>
  </div>
</div>
