<div class="card text-center">
  <h5 class="card-header">Password Generator</h5>
  <div class="card-body">
    <span class="card-text">Your new password is:</span>
    <ng-container *ngIf="showProgressBar">
      <app-progress-bar (onCompleted)="onProgressCompleted($event)"></app-progress-bar>
    </ng-container>
    <ng-container *ngIf="!showProgressBar">
      <h5 class="card-title mt-2 mb-3">{{ randomPassword }}</h5>
      <button class="btn btn-primary" (click)="copyPasswordToClipboard()">
        Copy to clipboard
        <i class="fa fa-copy" aria-hidden="true" ></i>
      </button>
    </ng-container>
  </div>
</div>
