<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="row m-2">
    <div class="col-12 align-self-center">
      <label for="username">
        Username
      </label>
      <input id="username" type="text" formControlName="username" class="ml-2">
    </div>
  </div>
  <div class="row m-2">
    <div class="col-12 align-self-center">
      <label for="password">
        Password
      </label>
      <input id="password" type="password" formControlName="password" class="ml-2">
    </div>
  </div>
  <div class="row m-2">
    <div class="col-12 align-self-center">
      <button
        class="btn btn-primary mx-1"
        type="submit"
      >Login</button>
    </div>
  </div>
</form>
